*,
*::after,
*::before {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Variables and Root Setup */

:root {
  /* Sets root font to be 10px for sizing. Fixed accessability in body. */
  font-size: 62.5%;

  --clr-navy: #1f2937;
  --clr-blue: #3882f6;
  --clr-white: #f9faf8;
  --clr-grey: #e5e7eb;

  --fs-regular: 1.6rem;
  --fs-title: 4.8rem;
  --fs-large: 3.6rem;
  --fs-link: 1.8rem;

  --fw-bold: 800;
  --fw-light: 200;
}

/* Basic Styles */

body {
  /* This fixes browser font size accessibility */
  font-size: 1.6rem;

  background-color: var(--clr-white);
  color: var(--clr-white);
}

a {
  text-decoration: none;
  color: var(--clr-white);
  font-size: var(--fs-link);
}

p,h1,h2,h3 {
  max-width: 60ch;
}

button {
  background-color: var(--clr-blue);
  border: none;
  border-radius: 4px;
  padding: .4rem 1.6rem;
}

button a {
  font-size: var(--fs-small);
}

.wrapper {
  max-width: 75vw;
}

.subtitle {
  color: var(--clr-grey)
}

/* Header */
.header {
  background-color: var(--clr-navy);
  width: 100vw;
}

.header-wrapper {
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar{
  flex: 1;
  display: flex;
  justify-content: right;
  gap: 50px;
}

.nav-img {
  max-width: 7rem;
}

.nav-link {
  transition: all ease 0.3s
}

.nav-link:hover{
  text-decoration: underline;
  font-size: 2rem;
}

/* Hero */
.hero {
  background-color: var(--clr-navy);
  width: 100vw;
}


.hero-wrapper{
  background-color: var(--clr-navy);
  margin: auto;
  display: flex;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-information {
  max-width: 45ch;
}

.hero-title {
  font-size: var(--fs-title);
  line-height: 4.5rem;
  margin-bottom: 1.5rem;
}

.hero-subtitle {
  margin-bottom: 1.5rem;
}

.hero-img{
  aspect-ratio: 16/9;
  max-width: 40rem;
}

.hero-btn {
  transition: all ease 0.3s;
  color: var(--clr-white);
}

.hero-btn:hover{
  cursor: pointer;
  background-color: var(--clr-grey);
  color: var(--clr-navy);
}

/* Random */

.random-wrapper{
  margin: auto;
  /* border: solid red; */
  padding: 2.4rem;
  max-width: 50vw;
}

.random-grid {
  /* border: solid red; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2.4rem;
}

.random-item {
  max-width:20rem;
  /* border: solid green; */
  margin: auto;
  displaY: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.random-item-img {
  max-width: 15rem;
  border: solid 3px var(--clr-blue);
  border-radius: 1rem;
}

.random-item-description {
  color:var(--clr-navy);
  font-size: var(--fs-regular);
}


/* Quote */
.quote {
  background-color: var(--clr-grey);
}

/* Footer */
.footer {
  background-color: var(--clr-navy);
}